
#mainContainer{
    justify-content: space-between;
    height: 200px;

}
#buttons {
    height: 200px;;
    float: left;
}

#description {
    height: 200px;
    float: left;
}

p {
    margin: 20px;
    display: flex;
    height: 40px;
}

button {
    margin: 20px;
    height:40px;
    width: 50px;
    display: flex;
}

.input {
    width: 360px;
}

button#forInput {
    margin-top: 10px;
    float:right;
    height: fit-content;
    width: fit-content;
}
